.card {
  background-color: var(--white-color);
  min-height: 4.6rem;
  padding: 0 2rem;
  border-radius: 999px;
  margin-bottom: 1.7rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
  button {
    margin-right: -1.3rem;
  }
}
