.notice-text {
  text-align: center;
  font-weight: 500;
  padding: 0.5rem 1rem 3rem;
}

.todos-list {
  margin: 1.6rem 0;
  @include mobile-screen {
    margin: 1.2rem 0;
  }
  .card {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.more-padding {
    padding-right: 1.1rem;
    overflow: auto;
  }

  .todo-item {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;

    input[type="checkbox"],
    label,
    .btn-action {
      cursor: pointer;
    }

    .todo-title {
      display: flex;
      gap: 1.6rem;
      align-items: center;

      p {
        font-size: 1.6rem;
        width: 100%;

        &.done {
          color: #a9a9a9;
          text-decoration: line-through;
        }
      }
    }
  }

  .btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-form {
    button {
      display: block;
    }
  }

  input::placeholder {
    color: var(--rose-color);
  }
}
