.todo-contain {
  opacity: 0;
  background-color: var(--soft-gray-color);
  border-radius: 2rem;
  padding: 6.1rem 10.1rem 6.3rem;
  width: 100%;
  max-width: 72rem;
  // margin: 4.2rem auto 0;
  // padding: 10rem;
  transition: opacity 0.5s;

  &.show {
    opacity: 1;
  }
}
