.notice-text {
  text-align: center;
  font-weight: 500;
  padding: 0.5rem 1rem 3rem;
}

.todos-list {
  max-height: 37.8rem;

  &.more-padding {
    padding-right: 1.1rem;
    overflow: auto;
  }
  .todo-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    input[type="checkbox"],
    label,
    .btn-action {
      cursor: pointer;
    }

    .todo-title {
      display: flex;
      gap: 1.6rem;
      align-items: center;

      p {
        font-size: 1.6rem;
        &.done {
          color: #a9a9a9;
          text-decoration: line-through;
        }
      }
    }
  }

  .btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
